<div style="margin-left: 20%; margin-top: 5%; width: 95%" class="bg-fixed">
  <div class="p-4 border-2 w-full h-full border-gray-200 rounded-lg">
    <div class="animate__animated animate__fadeIn    grid grid-cols-1 md:grid-cols-2 gap-10 mb-10">


      <div class="flex rounded-[2.5rem] h-44 bg-white shadow shadow-gray-500 items-center justify-center">
        <div class="text-center">
          <span class="block mb-6 text-xs font-thin text-gray-800">Total traitements</span>
          <div class="flex items-center justify-center space-x-4">
            Icon
            <p class="space-x-10"></p>
            <p class=" text-4xl font-bold mt-2 ">
              data
            </p>

          </div>
        </div>
      </div>
      <div class="flex rounded-[2.5rem] h-44 bg-white shadow shadow-gray-500 items-center justify-center">
        <div class="text-center">
          <span class="block mb-6 text-xs font-thin text-gray-800">nombre de grume traiter</span>
          <div class="flex items-center justify-center space-x-4">
             Icon
            <p class="space-x-10"></p>
            <p class=" text-4xl font-bold mt-2 ">
              data
            </p>

          </div>
        </div>
      </div>




    </div>

    <div class="  animate__animated animate__fadeIn  px-5 items-center justify-top h-full w-full mb-10 pt-5 bg-white rounded-2xl shadow shadow-gray-500 grid grid-cols-1">
      <app-traitement-list></app-traitement-list>
    </div>

    <div class=" animate__animated animate__fadeIn  grid grid-cols-1    gap-4  ">

      <div class=" animate__animated animate__fadeIn    items-center justify-center  h-56 rounded bg-white shadow shadow-gray-500 ">
        En cours
      </div>

    </div>


  </div>
</div>

