<div style="margin-left: 20%; margin-top: 5%; width: 95%" class="bg-fixed">
  <div class="p-4 border-2 w-full h-full border-gray-200 rounded-lg">
    <div class="animate__animated animate__fadeIn flex items-center justify-center mb-10">
      <div class="flex rounded-[2.5rem] h-44 bg-white w-full shadow shadow-gray-500 items-center justify-center">
        <div class="text-center w-full px-44 transition-all duration-700 ease-in-out hover:px-20">
          <span class="block mb-6 text-3xl font-thin text-gray-800">Recherche d'une  localisation</span>
          <form   [formGroup]="searchForm"  class="flex items-center w- ">
            <label for="simple-search" class="sr-only">Search</label>
            <div class="relative w-full">
              <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5v10M3 5a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm0 10a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm12 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0V6a3 3 0 0 0-3-3H9m1.5-2-2 2 2 2"/>
                </svg>
              </div>
              <input formControlName="keyword" type="text" id="simple-search" class="h-10 bg-gray-50 border border-gray-300 text-gray-900 text-lg rounded-lg focus:ring-blue-500 focus:outline-none block w-full pl-10 p-2.5" placeholder="Rechercher d'une  localisation.." required />
            </div>
            <button  (click)="search()" class="p-2.5 ml-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300    ">
              <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
              </svg>
              <span class="sr-only">Search</span>
            </button>
          </form>
        </div>
      </div>
    </div>

    <div class="  animate__animated animate__fadeIn  px-5 items-center justify-top h-full w-full mb-10 pt-5 bg-white rounded-2xl shadow shadow-gray-500 grid grid-cols-1">
       <app-location-list></app-location-list>
    </div>

    <div class=" animate__animated animate__fadeIn  grid grid-cols-1   gap-4  ">
      <div class="flex  sm:h-full     rounded bg-white shadow shadow-gray-500">
        En cours
      </div>
    </div>


  </div>
</div>

